body{
   
    text-align: center;
}

#dropdown-basic-button{
    
    margin-top: 5%;
    margin: 1%;
    
}
.btn-primary {
    background-color:white ;
    border: 1px solid lightsteelblue;
    color: #A5C1E5;
    margin-left: 2%;
}
.drop{
    margin-top: 5%;
    display: inline-block;
    margin-bottom: 5%;
    margin-left: 2%;
}
#span{
    margin-left: 5%;
    color:steelblue;
    font-size: 14px;;
}