body{
    background-color: white;
}
#LinkButton{
    background-color: white;
    color: black;
    border: lightskyblue 20px ; 
   
}
#navbar{
   text-align: center;
}
a{
    color:lightgray;
}
#img{
 margin-left:3%;
    height: 150px;
    
}
#navbar{
    margin-left: 10%;
}